body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

form {
  width: 400px;
  padding:20px;
  border: 2px solid #c72525;
  background: #ffffff;
  border-radius: 10px;

}

label {
  display: inline-block;
  width: 120px;
}

input {
  padding: 5px;
  width: 200px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

.error {
  color: red;
  font-size: 12px;
}
button{
    color: #1900ff;
    
}